[Unit]
Description=Caelestia Romaji Lyrics Converter Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'if [ -d %h/.local/share/caelestia/venv ]; then %h/.local/share/caelestia/venv/bin/python3 %h/.local/bin/caelestia-romaji-daemon; else %h/.local/bin/caelestia-romaji-daemon; fi'
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
